@model AspNetSkeleton.UI.Models.ResetPasswordModel

<div class="page-header">
    <h1>@T["Forgotten Password"]</h1>
</div>

@if (Model.Success == null)
{
<div>
    @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken();
                                
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                @Html.ValidationSummary(excludePropertyErrors: true)
            </div>
        </div>                                
                                    
        <div class="row form-group">
            <label for="@Html.IdFor(m => m.UserName)" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.UserName)</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>                       

        <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">@T["Reset password"]</button>
            </div>
        </div>
    }
</div>
}
else if (Model.Success.Value)
{
<p class="lead">
    @T["Please read the message sent to your e-mail address in order to specify your new password."]
</p>

<p>
    @T["If you don't receive this message in a few minutes, check your spam folder or {0}contact us{1}.",
        $"<a href=\"{Url.Action("Contact", "Home", new {area = ""})}\">", "</a>"]
</p>    
}
else
{
<p>
    @T["Please try again or {0}contact the system administrator{1} if the problem persists.",
        $"<a href=\"mailto:{Settings.AdminMailTo[0]}\">", "</a>"]
</p>
}