@model AspNetSkeleton.UI.Models.SetPasswordModel

<div class="page-header">
    <h1>@T["New Password"]</h1>
</div>

@if (Model.Success == null)
{
<div>
    @using (Html.BeginForm("SetPassword", "Account", new { u = Request.QueryString["u"], v = Request.QueryString["v"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken();
                                
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                @Html.ValidationSummary(excludePropertyErrors: true)
            </div>
        </div>                                
                                    
        <div class="row form-group">
            <label for="@Html.IdFor(m => m.NewPassword)" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.NewPassword)</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>

        <div class="row form-group">
            <label for="@Html.IdFor(m => m.ConfirmPassword)" class="col-sm-2 control-label">@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">@T["Set password"]</button>
            </div>
        </div>
    }
</div>
}
else if (Model.Success.Value)
{
<p class="lead text-info">
    @T["Your new password has been set."]
</p>
<p>
    @T["You can {0}login{1} now.",
        $"<a href=\"{Url.Action("Login")}\">", "</a>"]
</p>
}
else
{
<p>
    @T["Please try again or {0}contact the system administrator{1} if the problem persists.",
        $"<a href=\"mailto:{Settings.AdminMailTo[0]}\">", "</a>"]
</p>
}